$primary: #2196F3;
$secondary: #F50057;

$white: #FFFFFF;
$black: #373737;

$gray: #E0E0E0;
$darkGray: #646464;
$mediumGray: #979797;
$lightGray: #CACACA;

$bgDarkGray: #F2F2F2;
$bgLightGray: #F6F6F6;

$orange: #FE8622;
$darkOrange: #FE622D;
$flatOrange: #FC4236;
$red: #FF2400;
$purple: #B71B46;
$green: #2ECC71;


$menuIconTextColor: #980722;

$white: #FFFFFF;
$black: #000000;
$blue: #3273DC;

$default: #FF0A38;
$facebook: #0D2EA8;
$google: #FF0A38;

$gray: #999999;
$lightGray: #e6e6e6;

$disable: #C7C7CC;

$selectedSliderDotColor: #FF0A38;

$toggleSelectColor: #FF0A38;
$toggleGray: #8E8E93;

$meritosBackgroundColor1: #3BAFDA;
$meritosBackgroundColor2: #ACAF48;
$meritosBackgroundColor3: #FC6E51;
$meritosBackgroundColor4: #FFB933;